@import url('https://cdn.jsdelivr.net/npm/daisyui@5');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');

* {
    font-family: 'Google Sans', sans-serif;
}

.zoom {
    zoom: 0.6;
}

body {
    background-image:
        url('./assets/bg.avif');
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 100% auto;
}